/* import fonts */
@import url(https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap);

@import url(https://fonts.googleapis.com/css2?family=Newsreader:ital,opsz,wght@0,6..72,200..800;1,6..72,200..800&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap);

@import url(https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Newsreader:ital,opsz,wght@0,6..72,200..800;1,6..72,200..800&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap);

html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    background-color: #faf8e8;
    overflow-x: hidden;
}

body {
    display: grid;
    grid-template-columns: 
        1fr 
        minmax(0, 900px)
        530px 
        1fr; 
    column-gap: 0; 
    margin-top: 130px;
}

/* nav bar */
.top-nav {
    position: fixed;
    top: 0;
    left: 0; 
    width: 100%;
    height: 90px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;
    padding: 0 60px;
    background-color: #9f9585;
    z-index: 9999;
}

.top-nav a{
    color: white;
    font-family: "Montserrat";
    font-size: 17px;
    font-weight: bold;
    padding: 8px 10px;
    text-decoration: none;
    
}

.top-nav a:hover {
    background-color: #b7afa2;
    transform: scale(1.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    border-radius: 50px;
}

.top-nav img {
    margin-right: 60px;
    width: 16%;
}

/* dropdown */
.dropdown {
    position: relative;
    display: inline-block;
}

.dropbtn {
    background: none;
    border: none;
    color: white;
    font-family: "Montserrat";
    font-size: 17px;
    font-weight: bold; 
    padding: 8px 10px;
    cursor: pointer;
    border-radius: 50px;
    transition: all 0.3s ease-in-out;
}

.dropdown-content {
    display: none;
    position: absolute;
    right: 0; 
    background-color: #b7afa2;
    min-width: 180px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1001; 
    border-radius: 12px;
    overflow: hidden; 
    margin-top: 5px;
}

.dropdown-content a {
    color: white; 
    padding: 12px 20px;
    font-size: 14px;
    text-decoration: none;
    display: block;
    font-family: "Montserrat";
    transition: background 0.2s;
    text-align: left;
}

.dropdown-content a:hover {
    background-color: #b7afa2;
    border-radius: 0; 
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropbtn {
    background-color: #b7afa2;
    transform: scale(1.1);
}

/* body */

.article {
    grid-column: 2;
    display: flex;
    flex-direction: column;
    padding: 20px 60px;
    
}

.article h1 {
    font-family: "Newsreader";
    font-size: 40px;
    font-weight: 900;
    margin: 0 0 10px 0;
    text-transform: uppercase;
}

.article section > p {
    font-family: "Montserrat", sans-serif;
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 20px;
}

.tag span {
    background-color: #b7afa2;
    color: white;
    padding: 6px 20px;
    border-radius: 50px;
    font-family: "Montserrat", sans-serif;
    font-size: 12px;
    font-weight: bold;
    display: inline-block;
}

.article div > img {
    width: 100%;
    height: auto;
    display: block;
    margin-bottom: 30px;
}

.article article p {
    font-family: "Roboto Mono", monospace;
    font-size: 16px;
    line-height: 1.6;
    color: #000;
    text-align: justify;
}

.news-layout {
    display: grid;
    grid-template-columns: repeat(3, 1fr); 
    gap: 20px;
}


.gridcard {
    
    background: #b7afa2;
    border-radius: 20px;
    padding: 20px;
    min-height: 350px;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    text-decoration: none;
    color: inherit;
}

.gridcard:hover{
     transform: scale(1.02);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.gridcard img {
    width: 100%;
    border-radius: 25px;
    margin-bottom: 20px;
    max-height: 70%;
}

.gridcard h2 {
    font-size: 20px;
}

.gridcard:hover {
    transform: scale(1.02);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

/* sidebar */
.sidebar {
    grid-column: 3;
    position: relative;
    top: 0;
    right: 0;
    width: 100%;
    padding: 30px;
    box-sizing: border-box;
}

.sidebar-title {
    color: #a64d4d;
    font-family: "Montserrat";
    margin-bottom: 20px;
}

.timeline {
    position: relative;
    border-left: 2px solid #333;
    padding-left: 30px;
    margin-left: 10px;
}

.timeline-item {
    position: relative;
    margin-bottom: 25px;
}

.dot {
    position: absolute;
    left: -37px;
    top: 50%;
    transform: translateY(-50%);
    width: 12px;
    height: 12px;
    background-color: #d4a373;
    border-radius: 50%;
}

.timeline-card {
    display: flex;
    gap: 10px;
    align-items: center;
    padding: 10px 20px;
    background-color: #ccc5b9;
    border-radius: 12px;
    height: 90px;
    box-sizing: border-box;
    color: inherit;
    text-decoration: none;
    overflow: hidden;
}

.timeline-card img {
    width: 70px;
    height: 70px;
    object-fit: cover;
    border-radius: 10px;
    flex-shrink: 0;
}

.timeline-text {
    font-family: 'Newsreader', serif;
    font-size: 15px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 0;
}

.timeline-card:hover {
    transform: scale(1.02);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

/* footer */
.footer {
    grid-column: 1 / -1;
    background-color: #9f9585;
    color: white;
    padding: 60px 100px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    font-family: "Montserrat", sans-serif;
    margin-top: 50px;
}

.footer-section {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.footer-section img {
    margin-right: 60px;
    width: 90%;
}

/* Vertical Divider Lines */
.footer-section:not(:last-child) {
    border-right: 1px solid rgba(255, 255, 255, 0.3);
    margin-right: 40px;
    padding-right: 20px;
}

/* Middle Column Links */
.footer-links {
    flex-direction: row;
    gap: 40px;
}

.link-column {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.footer-links a {
    color: white;
    text-decoration: none;
    font-size: 14px;
    font-weight: bold;
    transition: opacity 0.2s;
}

.footer-links a:hover {
    opacity: 0.7;
}

/* Social Media Section */
.footer-socials {
    gap: 15px;
}

.footer-socials a {
    color: white;
    text-decoration: none;
    display: flex;
    align-items: center;
    
    font-weight: bold;
}

.footer-socials a:hover{
    opacity: 0.7;
}
.footer-socials img {
    width: 35px;
    height: auto;
}